In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
#reading csv file
df= pd.read_csv('/kaggle/input/autocars-pricing/auto.csv')

In [3]:
#checking is csv file loaded correctly
print(df)

In [4]:
#checking data by printing its first 5 rows
print(df.head(5))

In [5]:
#checking data by printing last 5 rows
print(df.tail(5))

In [6]:
#Adding headers as our data do not have any
headers = ["symboling","normalized_losses","make","fuel_type","aspiration", "num_of_doors","body_style",
         "drive_wheels","engine_location","wheel-base", "length","width","height","curb_weight","engine_type",
         "num_of_cylinders", "engine_size","fuel_system","bore","stroke","compression_ratio","horsepower",
         "peak_rpm","city_mpg","highway_mpg","price"]
df.columns = headers

In [7]:
#Checking if headers are added
print(df.head())

In [8]:
#checking data types of all columns
df.dtypes

In [9]:
#checking statstical summary of our whole dataset
df.describe(include = "all")

In [10]:
#checking top and bottom 30 rows
df.info

In [11]:
#checking columns separately for Data Wrangling
df["symboling"]

In [12]:
df["price"]

In [13]:
df["aspiration"]

In [14]:
#Checking if there are any null values in our dataset
df.isnull()

In [15]:
#As all values are showing as False but we do have empty values, it is because our empty values have "?" but we need them to be in NaN form.
#Replacing empty values that contains '?' with NaN so that we can apply data cleaning
df.replace('?',np.nan,inplace=True )

In [16]:
#checking 'NaN' values are replaced or not
df.head(10)

In [17]:
#Data Cleaning
#Cleaning the data by dropping the whole row if any NaN value comes up in any column.
df.dropna(inplace=True)
#checking
df.head(10)

In [18]:
#Converting num-of-doors into integers 
df.replace('four',4,inplace=True)
df.replace('two',2,inplace=True)

In [19]:
df["engine_type"]

In [20]:
df["num_of_cylinders"]

In [21]:
#printing how many type of strings are occuring in a column
df['num_of_cylinders']. value_counts()

In [22]:
#replacing strings with integers in num_of_cylinders
#We are doing this type-casting so that our results should be accurate as we cant calculate stastical properties with strings.
df.replace('five',5,inplace=True)
df.replace('six',6,inplace=True)
df.replace('three',3,inplace=True)
df.replace('eight',8,inplace=True)

In [23]:
df.dtypes

In [24]:
#converting type of normalized_losses into integers
df['normalized_losses']=df['normalized_losses'].astype('int')
df.dtypes

In [25]:
#converting price object type into integer
df['price']=df['price'].astype('int')
df.dtypes

In [26]:
#binning of price
bins=np.linspace(min(df["price"]),max(df["price"]),4)
group_names=["low","Medium","High"]
df["price_binned"]=pd.cut(df["price"],bins,labels=group_names,include_lowest=True)

In [27]:
#importing matplot library

import matplotlib.pyplot as plt
from matplotlib import pyplot

In [28]:
#Making a histogram of division three type of prices
pyplot.bar(group_names, df["price_binned"].value_counts())

# set x/y labels and plot title
plt.pyplot.xlabel("price")
plt.pyplot.ylabel("count")
plt.pyplot.title("priced_binned")
#We can see that low priced are most in count
#medium are 30
#high are 10 only

In [1]:
#Boxplotting different columns to see difference between there stats 
y=df["engine_size"]
x=df["price"]
plt.scatter.__
scatter(x,y)
plt.title("Scatterplot of engine size vs price")
plt.xlabel("engine size")
plt.xlabel("price")

In [ ]:
str='dfsdf'acorr
str.